<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=“https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Open+Sans&display=swap” rel=“stylesheet”>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/inspirate.css">
    <title>Pik-U</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <a href="../index.html"><img src="../assets/Logo_picku.svg" width="100" height="60" class="d-inline-block align-top" alt=""></a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="nav-item menu1">
                <a class="nav-link mayuscula" href="#pasos">paso a paso</a>
                <a class="nav-link mayuscula" href="#portafolio">portafolio</a>
            </div>
        </div>
    </nav>

    <h1 style="font-weight: bold;" class="letraform">PASO 1</h1>
    <h4 class="letraform">Escoge tu planta:</h4>
    <br>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card">
                        <img src="../assets/fe7f1c7c6c55d605463423e971f5a272.png" class="card-img-top" alt="suculentas">
                        <div class="card-body">
                            <br>
                            <h5 class="card-title">Suculentas</h5>
                            <p class="card-text">Una de las más curiosas y particulares son las llamadas plantas
                                suculentas que generalmente se pueden hallar en ambientes que se caracterizan por su
                                aridez y sequedad.</p>
                        </div>
                        <section class="letratexto">
                            <form class="container" action="https://formspree.io/xeqgkobz" method="POST">
                                <div class="form-group">
                                    <h3 label for="nombre">Tamaño</label></h3>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios1" value="option1" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            S (Small)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios2" value="option2">
                                        <label class="form-check-label" for="exampleRadios2">
                                            M (Medium)
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="exampleRadios"
                                            id="exampleRadios3" value="option3">
                                        <label class="form-check-label" for="exampleRadios3">
                                            L (Large)
                                            <br>
                                            <br>
                                            <a href="./inspirate_paso3.html" class="btn btn-primary">Siguiente</a>
                                        </label>
                                    </div>

                            </form>


                        </section>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card">
                        <img src="../assets/Cactus-1.png" class="card-img-top" alt="cactus">
                        <div class="card-body">
                            <br>
                            <h5 class="card-title">Cactus Largo</h5>
                            <p class="card-text">Los cactus columnares se destacan por tener uno o varios tallos
                                cilíndricos que crecen de forma erguida (erecta). Son los que más llaman la atención y
                                pueden o no dividirse se llama basítona. </p>

                            <h3 label for="nombre">Tamaño</label></h3>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    S (Small)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    M (Medium)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                    value="option3">
                                <label class="form-check-label" for="exampleRadios3">
                                    L (Large)
                                    <br>
                                    <br>
                                    <a href="./inspirate_paso3.html" class="btn btn-primary">Siguiente</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card">
                        <img src="../assets/growing-opuntia-cactus-sticker-1542061969.1743054.png" class="card-img-top"
                            alt="aplanado">
                        <div class="card-body">

                            <h5 class="card-title">Cactus aplanado</h5>
                            <p class="card-text">La planta visualmente es el tallo aplanado, con forma de raqueta. El
                                género que los representan son los cactus Opuntia, tiene la apariencia de una hoja
                                porque las hojas existentes son muy pequeñas.</p>
                            <h3 label for="nombre">Tamaño</label></h3>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                    value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    S (Small)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                    value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    M (Medium)
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                    value="option3">
                                <label class="form-check-label" for="exampleRadios3">
                                    L (Large)
                                </label>
                                <br><br>

                                <a href="./inspirate_paso3.html" class="btn btn-primary">Siguiente</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="card">
                        <img src="../assets/1200px-Stenocactus_obvallatus_Lem.png" class="card-img-top" alt="bolita">
                        <div class="card-body">
                            <br>
                            <h5 class="card-title">Bolita</h5>
                            <p class="card-text">Redondeados o con forma de barril. Son uno de los más populares, pues
                                no ocupan demasiado espacio, existen una gran variedad de ellos. Los géneros más comunes
                                son los Echinocactus o las Mammillaria.</p>
                            <section class="letratexto">
                                <form class="container" action="https://formspree.io/xeqgkobz" method="POST">
                                    <div class="form-group">
                                        <h3 label for="nombre">Tamaño</label></h3>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                S (Small)
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                M (Medium)
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios"
                                                id="exampleRadios3" value="option3">
                                            <label class="form-check-label" for="exampleRadios3">
                                                L (Large)
                                                <br>
                                                <br>
                                                <a href="./inspirate_paso3.html" class="btn btn-primary">Siguiente</a>
                                            </label>
                                        </div>

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>





</body>

</html>