<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/inspirate_paso3.css">
    <title>Document</title>
</head>

<body>
    <section class="next">
        <h1>
            Paso 3
        </h1>
        <h4>Escribe tu mensaje</h4>
    </section>
    <section class="matera">
        <div class="text-center">
            <img src="../assets/matera.png" class="rounded" alt="imagen_matera">
            <h3 id="matera"></h3>
        </div>
    </section>
    <section class="box">
        <div class="form-group">
            <label for="mensaje">Escribe tu mensaje</label>
            <input onkeyup="cambia()" type="text" class="form-control" id="mensaje" name="mensaje">
            </small>
            <br>
            <button type="submit" class="btn btn-primary" value="Send">Siguiente</button>
        </div>

    </section>


    <script src="../scripts/inspirate_paso3.js"></script>
</body>

</html>