body {
    font-family: 'Open Sans', sans-serif;
}

a{
    color: #50FF50;
}

a:hover{
    color: black;
    text-decoration: none;
}

.margenSuperior{
    margin-top: 50px;
    margin-bottom: 100px;
}

.centrar{
    display: flex;
    justify-content: center;
}

.col-12 h1{
    display: flex;
    justify-content: center;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 60px;
}

.col-12 img{
    display: flex;
    justify-content: center;
}

.mayuscula {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navegation-nav ul li {
    text-decoration: none;
    list-style: none;
    float: right;
    padding-right: 10px;
}
.navegation-nav-buttom{
    border-radius: 1px solid green;
}
.buttom-inspira{
    border: 3px solid blue;
}
.buttom-inspira h1{
    display: flex;
    justify-content: center;

}
.navigation .navegation-nav .nav-item .nav-link .logo{
    display: flex;
    justify-content: start;
}

.nav-link {
    color: black;
}

.nav-link:hover{
    color: #50FF50;
}

.btn-primary{
    background: #50FF50 0% 0% no-repeat padding-box;
    border-radius: 49px;
    border: none;
    color: black;
    opacity: 1;
}

.btn-primary:hover{
    background: black 0% 0% no-repeat padding-box;
    border-radius: 49px;
    border: none;
    color: white;
    opacity: 1;
}

.btn-outline-primary{
    background: none;
    border-radius: 49px;
    border: solid 2px #50FF50;
    color: black;
    opacity: 1;
}
.btn-outline-primary:hover{
    background: black 0% 0% no-repeat padding-box;
    border-radius: 49px;
    border: solid 2px black;
    color: white;
    opacity: 1;
}

.tituloCentrado h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
}

.margenMenos {
    margin-top: 230px;
    position: absolute;
    margin-left: 20%;
}

.footer{
    background-color: rgb(241, 241, 241);
    border: none;
    padding: 5vh;
}

@media only screen and (min-width: 768px) {
    .carousel-inner {
        height: 88vh !important;
    }
    .menu{
        display: flex;
        justify-content: space-around;
    }
    .menu1{
        display: flex;
        justify-content: space-between;
    }
}
